<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title PWW</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PWW", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", id = "navBarBrandID" })
            </div>
            @{string ctrName = ViewContext.RouteData.Values["controller"].ToString() + ViewContext.RouteData.Values["action"].ToString();}
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    @if (ctrName.ToLower() == "resumecreateresume")
                    {
                        <li class="active" style="margin: 5px;"><a href="~/Resume/Index" style="border-radius: 5px;">Apply <span class="glyphicon glyphicon-thumbs-up"></span></a></li>
                    }
                    else
                    {
                        <li style="margin: 5px;"><a href="~/Resume/Index" style="border-radius: 5px;">Apply <span class="glyphicon glyphicon-thumbs-up"></span></a></li>
                    }

                    <li class="dropdown" style="margin: 5px;">
                        <a href="#" class="dropdown-toggle" style="border-radius: 5px;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Policies <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="border-radius: 5px;">
                            <li>@Html.ActionLink("View Policies", "Index", "Policy")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Manage Policies", "ManagePolicies", "Policy")</li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Manage Categories</a></li>
                        </ul>
                    </li>
                </ul>
                @if (!this.Request.Url.ToString().Contains("CreateResume"))
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Resume/CreateResume" class="btn btn-md btn-success" style="color: white; margin: 5px;">Apply Now!</a></li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PWW HR Portal</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>