@model IEnumerable<HRPortal.Models.Category> 

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>Policy Categories</h1>
@*TODO: create a new category button on top*@

@*create table to display category list*@
<div class="col-sm-12">
    <table class="table">

        <thead>
        <tr>
        <th>@Html.DisplayNameFor(c => c.CategoryID)</th>
        <th>@Html.DisplayNameFor(c => c.CategoryTitle)</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   @Html.DisplayFor(i => item.CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(i => item.CategoryTitle)
                </td>
                <td>
                    @Html.ActionLink("Policy", "Policy", new {id = item.CategoryID})
                    @Html.ActionLink("Delete","Delete",new {id = item.CategoryID})
                    @Html.ActionLink("Edit","Edit",new {id = item.CategoryID})
                 </td>
            </tr>
        }
        </tbody>
    </table>
</div>