@model IEnumerable<HRPortal.Models.Category> 

@{
    ViewBag.Title = "Index";
}

<h1>Policy Categories</h1>
<p> </p>

@*@new category button on top*@
@Html.ActionLink("New Category","CreateCategory","Category",null,new {@class = "btn btn-success"})

@*create table to display category list*@
<div class="col-sm-12">
    <table class="table">

        <thead>
        <tr>
        <th>@Html.DisplayNameFor(c => c.CategoryTitle)</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr>
             
                <td>
                    @Html.DisplayFor(i => item.CategoryTitle)
                </td>
                <td>
                    @*not linking to right index*@
                    @Html.ActionLink("view Policies", "Index", "Policy") |
                    @Html.ActionLink("Delete", "DeleteCategory", new {id = item.CategoryID}) |
                    @Html.ActionLink("Edit", "EditCategory", new { id = item.CategoryID }) |
                    @Html.ActionLink("Add New Policy", "CreatePolicy", "Policy")
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>